* {
   font-family: 'Roboto Mono', monospace;
   font-weight:500;
}

body {
   display:grid;
   place-content:center;
   width:100vw;
   height:100vh;
   margin:0;
}

a {
   color:#0077ff;
   text-decoration:none;
}

.list {
   color:red;
}